body {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.1);
}

#map {
  height: 90%;
  width: 100%;
}

header {
  display: table-cell;
  /*让元素以表格的单元素格形式渲染*/
  vertical-align: middle;
  width: 100%;
  height: 60px;
  line-height: 60px;
  margin-top: 15px;
  margin-bottom: 15px;
  float: left;
  background-color: rgba(0, 0, 0, 0);
  text-align: 'center';
}

.center {
  display: table;
  text-align: center;
  width: 100%;
  height: 5%;
  line-height: 5%;
}

#radioForm {
  margin: auto;
  align-content: center;
}

#options {
  /* text-align: center; */
  margin: auto;
  margin-top: 30px;
}

#content {
  width: 100%;
  height: 95%;
  float: left;
  background-color: rgba(0, 0, 0, 0.0);
}

nav {
  /* background: rgba(1,1,1 0.1); */
  background: rgba(1, 1, 1, 0.3);
  /* text-align: center; */
  width: 20%;
  height: 70%;
  float: left;
  margin-left: 4%;
  position: absolute;
  z-index: 1000000;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
  /* margin-right: 5%; */
}
